<header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3 bg-black">
          <h1>Lenilson Soares</h1>
        </div>
        <div class="col-6">
          <nav class=" mt-3">
            <ul class="menu-header list-inline">
                <li class="list-inline-item"><a href="#">Início</a></li>
                <li class="list-inline-item"><a href="#">Especialidades</a></li>
                <li class="list-inline-item"><a href="#">Sobre</a></li>
                <li class="list-inline-item"><a href="#">Projetos</a></li>
            </ul>


          </nav>
        </div>
        <div class="col-3 bg-light">
           <div class="btn-contato">
              <a href="#">
              <button>Contato</button>
              </a>
            </div>
        </div>

      </div>
    </div>

</header>













