<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand m-lg-2" href="#!">Lenilson Soares</a>
  <div class="container px-4 px-lg-5">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="#!">Início</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Sobre mim</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Serviços</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Portfólio</a></li>
          </ul>
            <button class="contactButton">
              Contato
              <div class="iconButton">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
            </button>
      </div>
  </div>
</nav>
