<main>

  <section class="first-section">
    <div>
      <h1>Olá!Eu sou o <br> <strong>Lenilson Soares</strong></h1>
      <p>Sou Dev <strong> Full Stack</strong> tendo como Stacks principais: <strong> C#|Dotnet</strong> e <strong> TypeScript|Angular.</strong></p>
      <a href="#contact" class="btn-action link-action">Saber mais</a>
    </div>

    <div class="box-img-main">
      <img class="img-profile" src="/assets/images/perf2.png" alt="Lenilson Soares - Perfil">
  </div>

  </section>

  <section id="who-am-i" class="second-section">

    <h2 class="title">Quem sou eu ?</h2>
            <div>
                <img class="img-who-am-i" src="./images/gustavo.jpeg" alt="Gustavo Neitzke - Foto">
                <p>Meu nome é <strong>Gustavo Neitzke</strong>, estou cursando <strong>Análise e Desenvolvimento de Sistemas</strong> na Universidade de Passo Fundo, atualmente tenho um <strong>canal no Youtube</strong> onde ensino programação e falo sobre tecnologia. Trabalho em uma multinacional americana, chamada Builderall, como <strong>Full Stack developer.</strong></p>
            </div>

  </section>

  <section class="third-section">

  </section>




</main>
