@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
  --white: #fff;
  --dark1: #34344e;
  --dark2: #3a415a;
  --dark3: #566981;
  --dark4: #89a7b1;
  --dark5: #cbdad5;
  --cyan1: #70e3ea;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--white);
  background-size: 400%;
  height: 100vh;
  font-family: 'Lato';
}
